*.pyc
*.pth
*.swo
*.swp
baselines/models/current/*
forge/embyr
docs/source/resource/maps/
evo_experiment/*
eval_experiment/*
configs/*
docs/source/autodoc/
docs/build/
!evo_experiment/.gitkeep
!eval_experiment/.gitkeep
.DS_Store
.vscode
env/*
nmmo-env/*